<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ThirdWorld - 전투 로그 보기</title>
    <style>
      @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
      body {font-family: "Nanum Gothic", sans-serif; }
      div {width: 450px; margin: 0 auto; }
      .charItem button {width: 450px; max-width: 100%; background-color: #ffffea; }
      .charItem button:hover {background-color: #ffffcc; }
      .backLink {text-align: center; width: 40%; margin: 10px auto; overflow: hidden; }
    </style>
</head>
<body>
  <% for (val of list) { %>
    <div class="charItem">
      <form action="/battleLog" method="post">
        <button type="submit"><%= val.title %></button>
        <input type="hidden" name="logId" value="<%= val.id %>">
      </form>
    </div>
  <% } %>
  <div class="backLink">
    <a href="/">돌아가기</a>
  </div>
</body>
</html> 