<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ThirdWorld - 전투</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <style>
      body {font-family: "Nanum Gothic", sans-serif; }
      .turnWrap {text-align: center; }
      span.turnCount {font-size: 20px; font-weight: bold; }
      span.skillUseWinner {font-weight: bold; }
      .driveSkill {margin-top: 5px; font-weight: bold; }
      .specialSkill {margin-top: 7px; font-weight: bold; }
      .colorLeft {color: red; font-weight: bold; }
      .colorRight {color: blue; font-weight: bold; }
      .colorGold {color: #ffd700 }
      .colorHp {color: green; }
      .colorSp {color: blue; }
      .charInfoWrap {width: 70%; max-width: 510px; margin: 10px auto; overflow: hidden; }
      .charInfo {text-align: center; width: 49%; float: left; border-top: 1px solid black; }
      .resultWrap {width: 70%; max-width: 510px; margin: 10px auto; overflow: hidden; }
      .backLink {text-align: center; width: 40%; margin: 10px auto; overflow: hidden; }
    </style>
</head>
<body>
    <%- result %>
    <div class="backLink"><a href="/">돌아가기</a></div>
</body>
</html> 