<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ThirdWorld - 로그인</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <style>
      body {font-family: "Nanum Gothic", sans-serif; }
      .loginTitle {font-size: 25px; font-weight: bold; text-shadow: 0 0 2px black; }
      .loginWrap {margin: 15% auto; width: 245px; }
      .loginInput {padding: 5px; }
      .loginSubmit {border-radius: 10px; float: right; margin-top: -55px; height: 55px; background-color: #3bbaea; box-shadow: 0 0 3px black; cursor: pointer; }
    </style>
</head>
<body>
  <div class="loginWrap">
    <span class="loginTitle">ThirdWorld</span>
    <form action="/login" method="post">
      <div><input type="text" class="loginInput" name="userId" placeholder="아이디" /></div>
      <div><input type="password" class="loginInput" name="userPwd" placeholder="비밀번호" /></div>
      <input type="submit" class="loginSubmit" value="로그인" />
    </form>
  </div>
</body>
</html> 